 /* just a quick color pallete to try and make the site more appealing. */
 /* background colors to be #1E1E1E  */
 /* text to be #FFFFFF */
 /* accenting/other to be #3498DB */

/* Global styles */
* {
  background-color: #1E1E1E;
  color: #FFFFFF;
}

/* Header styles */
.header {
  background-color: #1E1E1E;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 15px;
  cursor: pointer;
  font-size: 20px;
}

li:hover {
  background-color: #1E1E1E;
  color: #3498DB;
}

.active {
  color: #3498DB;
  text-decoration: underline;
}

/* About section styles */
.content-container {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin: 3% auto 0;
}

p {
  margin-top: 20px;
  font-size: 20px;
}

/* Portfolio section styles */
.portfolio-container {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.image-row {
  display: flex;
  justify-content: space-around;
  margin-top: 20px; 
}

.portimg {
  max-width: 30%; 
  height: auto;
  margin: 0;
}

/* Contact section styles */
.contact-container {
  max-width: 30%;
  margin: 0 auto;
  text-align: center;
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
}

.form-field input,
.form-field textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 2px solid #3498DB;
  border-radius: 8px;
}

.form-field.required input,
.form-field.required textarea {
  border: 2px solid rgba(255, 0, 0, 0.705);
}
#submitContact{
  border-radius: 12px;
  border: 3px solid #3498DB;
  background-color: #3498DB;
  font-size: 24px;
}